# Docker PostgreSQL settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=resr
POSTGRES_PORT=5434

# Backend server port
PORT=5001

# TypeSafe AI Jev Integration
# https://console.typesafe.ai/settings/keys
TYPESAFE_API_KEY=your_typesafe_jev_api_key_here
